@model SuperAgenda1.Models.Contactos
@{ }


<a href="/Home" class="btn btn-primary">Volver</a>

<form method="Post" action="/Home/Agregar">

    <strong>Nombre</strong>
    <input type="text" name="Nombres" class="form-control" placeholder="Ingrese su Nombre">

    <strong>Apellido</strong>
    <input type="text" name="Apellidos" class="form-control" placeholder="Ingrese su Apellido">

    <strong>Telefono Movil  </strong>
    <input type="text" name="TelefonoMovil" class="form-control" placeholder="Ingrese su TelefonoMovil">

    <strong>TelefonoCasa</strong>
    <input type="text" name="TelefonoCasa" class="form-control" placeholder="Ingrese su TelefonoCasa">

    <button type="submit" class="btn btn-success"> Guardar contacto </button>

</form>